<template>
  <section>
    <h1>Your CPU Usage</h1>
    <div class="chart">
      <LineChart :series="series" />
    </div>
  </section>
</template>

<script>
import LineChart from "./LineChart";
import { createCpuUsageStream } from "../lib/data";

const cpuUsageStream = createCpuUsageStream();

export default {
  components: {
    LineChart
  },
  data() {
    return {
      series: [
        {
          name: "cpu",
          // initial dataset to help animation kick in smoothly
          data: Array(10)
            .fill([Date.now()])
            .map((v, i) => [Date.now() + i, 20])
        }
      ]
    };
  },
  computed: {
    cpuSeries: function() {
      // not sure if this is the best way? Need to dig
      // into how computed props and the reactive state works
      return this.series.find(s => s.name === "cpu");
    }
  },
  created() {
    this.subscribeToCpuUsageStream();
  },
  destroyed() {
    this.closeCpuUsageStream();
  },
  methods: {
    closeCpuUsageStream() {
      cpuUsageStream.close();
    },
    subscribeToCpuUsageStream() {
      cpuUsageStream.on("message", entry => {
        const cpuSeries = this.cpuSeries;
        const currentData = cpuSeries.data;
        // cap the length of the array
        cpuSeries.data = [
          ...currentData.slice(currentData.length > 1000 ? 1 : 0),
          entry
        ];
      });
      cpuUsageStream.on("error", error => {
        // TODO: do some proper error logging
        // eslint-disable-next-line no-console
        console.log(error);
      });
    }
  }
};
</script>

<style scoped>
section {
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr;
}
.chart {
  justify-content: center;
  min-width: 50vw;
  align-items: stretch;
  border-radius: 2em;
  background: #28294b;
}
</style>
