<template>
  <div>
    <ApexChart
      width="100%"
      type="line"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>
import ApexChart from "vue-apexcharts";
export default {
  props: {
    series: Array
  },
  components: {
    ApexChart
  },
  data() {
    return {
      chartOptions: {
        theme: {
          palette: "palette4"
        },
        chart: {
          id: "cpu",
          animations: {
            enabled: true,
            easing: "linear",
            speed: 500,
            dynamicAnimation: {
              easing: "linear",
              enabled: true,
              speed: 2000
            }
          },
          toolbar: {
            show: false
          },
          zoom: {
            enabled: false
          }
        },
        stroke: {
          curve: "smooth"
        },
        xaxis: {
          type: "datetime",
          range: 20 * 1000,
          axisBorder: {
            show: false
          },
          labels: {
            show: false
          },
          axisTicks: {
            show: false
          }
        },
        yaxis: {
          max: 100,
          min: 0,
          labels: {
            show: false
          }
        },
        legend: {
          show: false
        },
        tooltip: {
          enabled: false
        },
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          },
          yaxis: {
            lines: {
              show: false
            }
          }
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            gradientToColors: ["#FDD835"],
            shadeIntensity: 1,
            type: "horizontal",
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100]
          }
        }
      }
    };
  }
};
</script>
