<template>
  <main>
    <CpuUsage />
  </main>
</template>

<script>
import CpuUsage from "./components/CpuUsage";

export default {
  components: {
    CpuUsage
  }
};
</script>

<style>
body {
  background: #2c2c52;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
h1 {
  color: #f8d649;
  font-size: 5vw;
  background: linear-gradient(to right, #7bcbbc, #fdd835);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
